.header img{
    height:25px;
    width: 23px;
}
.header{
    display:flex;
    background-color: #E5E5E5;
    padding-left: 150px;
    height:25px;
    align-items: center;
}
.header p{
    color: #5B5B5B;
    font-size: 8px;
    margin-left: 10px;
    margin-top: 15px;
}