.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding: 0;
    align-items: center;
}

.inner-container {
    width: 100vw;
    padding: 20px;
    position: relative; 
}
.search-group {
    width: 100%; 
    display: flex;
    justify-content: center;
}
.search-container{
    height:50px;
    display:flex;
    justify-content: center;
}
.form-label{
    margin-left: 10px;
}
.search-group button{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    padding-left:30px;
    padding-right:30px;
}
.search-icon{
    margin-bottom:5px;
}

.result-container {
    position: absolute;
    top:100%;
    left: 0;
    width:88%;
}

.result td {
    padding: 10px;
}
