.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding: 0;
}
.input-group {
    padding-top: 30px;
}
.search-container{
    display: flex;
    justify-content: center;
}
.inner-container{
    width: 100vw;
    height:170px;
}
.form-label{
    margin-left: 15px;
    margin-bottom: 10px;
}
.input-group .btn{
    padding-left:25px;
    padding-right:35px; 
    padding-top: 15px;
}
.form-control :placeholder-shown{
    padding-bottom: 5px;
}
.result-container{
    justify-self: center;
    align-items: center;
    background-color: blueviolet;
    z-index: 1;
}
.result{
    margin-left: 13px;
    margin-top: 6px;
}
.result td {
    padding:10px;
}
